on:
  push:
    paths:
      - '.github/workflows/cve_formatting.yml'
      - 'records/**/*.json'
      - '!records/reservations/*.json'

name: "CVE Formatting"

permissions:
  contents: read

jobs:
  check:
    name: "Check Formatting"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Elixir
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        with:
          elixir-version: '1.18.4'
          otp-version: '27.3.4.1'
      - name: Run Formatter
        run: './scripts/cve-formatter check-formatted'
