on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/publish_website.yml'
      - 'records/**/*.json'
      - '!records/reservations/*.json'
      - 'osv/*.json'

name: "Website Update"

permissions:
  contents: read

jobs:
  publish_website:
    name: "Publish CVE Record Changes"
    runs-on: ubuntu-latest
    steps:
      - name: Login for PR
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: website-app-token
        with:
          app-id: ${{ vars.CNA_BOT_APP_ID }}
          private-key: ${{ secrets.CNA_BOT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: 'website'
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Checkout Website
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: ${{ github.repository_owner }}/website
          path: website

      - name: "Update CVEs in Website"
        shell: bash
        run: |
          mkdir -p \
            website/_data/cves-staging && \
          find records \
            -path 'records/reservations' -prune \
          -or \
            -type f -name '*.json' \
            -exec cp -f {} website/_data/cves-staging/ \; && \
          mkdir -p \
            website/_data/osv-staging && \
          find osv \
            -type f -name '*.json' \
            -exec cp -f {} website/_data/osv-staging/ \;
      - name: Create or update CVE-data PR
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          path: website
          token: ${{ steps.website-app-token.outputs.token }}
          commit-message: "chore(data): sync Staging CVE JSON from records/"
          title: "Automated CVE data update"
          body: |
            This PR copies the latest JSON files from **records/** into
            **_data/cves-staging/** and **osv/** to **_data/osv-staging/** so
            the website stays in sync.
          labels: automated
          branch: cve-staging-data-sync
          delete-branch: true
          base: main
      - name: Print PR link
        if: steps.cpr.outputs.pull-request-url != ''
        run: |
          echo "PR created/updated: $PR_LINK"
        env:
          PR_LINK: '${{ steps.cpr.outputs.pull-request-url }}'
