on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
  schedule:
    - cron: "9 3 * * *"

name: "Test and Update CVE Records"

permissions:
  contents: read

jobs:
  test_and_update_cve_records:
    runs-on: ubuntu-latest
    if: "${{ vars.CNA_BOT_APP_ID }}"
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ vars.CNA_BOT_APP_ID }}
          private-key: ${{ secrets.CNA_BOT_PRIVATE_KEY }}
      - name: CVE RSUS check and upload
        uses: DIVD-NL/cna-bot@32b2dcdec099a157714ba9963572d22c62f70934 # v1.7.0
        with: 
          cve-user: ${{ secrets.CVE_USER }}
          cve-org: ${{ secrets.CVE_ORG }}
          cve-api-key: ${{ secrets.CVE_API_KEY }}
          cve-environment: test
          publish: ${{ github.ref == 'refs/heads/main' }}
          path: records
          reservations-path : records/reservations
          min-reserved: 2
          reserve: 2
          pr: ${{ github.event_name != 'pull_request' }}
          github-token: ${{ steps.app-token.outputs.token }}
          expire-after: "1y"
